.btn {
    max-width: 160px;
    width: 100%;
    padding: 8px 22px;

    background: #EEEEEE;
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;

    &__name {
        font-family: 'SF Pro Display';
        font-weight: 500;
        text-align: start;
        margin: 0;
        font-size: 15px;
        line-height: 19px;
        color: #9C9C9C;
    }

    &__desc {
        font-family: 'Times New Roman';
        font-style: italic;
        text-align: start;
        margin: 0;
        font-size: 11px;
        line-height: 13px;
        color: #9C9C9C;
    }
}