
.ads{
    max-width: 100%;
    width: 100%;
    position: relative;
    aspect-ratio: 43/8;
}

@media screen and (max-width: 550px) {
    .ads{
        position: relative;
        left: -10px;
        max-width: calc(100% + 20px);
        width: calc(100% + 20px);
        aspect-ratio: 15/8;
    }
}