
.main{
    display: flex;
    flex-direction: column;

    &__cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 24px 0;

        & button{
            flex-shrink: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .main__cards{
        padding: 0;
    }
}