.card {
    width: 100%;
    cursor: pointer;

    &__title {
        font-family: 'Merriweather';
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 25px;
        transition: all 0.3s;

        &:hover {
            color: rgba(0, 26, 255, 1);
        }
    }

    &__infoblock {
        display: flex;
        gap: 24px;
        align-items: stretch;

        & h3 {
            font-weight: 400 !important;

            &:hover {
                color: var(--text-color);
            }
        }
    }

    &__image {
        position: relative;
        min-width: 50%;
        max-width: 50%;
        width: 100%;
        min-height: 196px;
        height: auto;
        aspect-ratio: 84/49;
    }

    &__grid {
        max-height: 196px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__info {
            display: flex;
            align-items: center;
            gap: 10px;

            &__time,
            &__ctg {
                font-weight: 800;
                font-size: 11px;
                line-height: 15px;
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        &__desc {
            max-width: 640px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }
}

.column {
    .card__infoblock {
        flex-direction: column;
    }

    .card__image {
        max-width: 100%;
        aspect-ratio: 54/25;
    }
}

@media screen and (max-width: 700px) {
    .card {
        &__title {
            font-size: 40px;
        }
    }
}

@media screen and (max-width: 550px) {
    .card {
        &__title {
            max-width: 100%;
            width: 100%;
            font-size: 28px;
            line-height: 30px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        &__infoblock {
            flex-direction: column !important;
        }

        &__image {
            max-width: 100%;
            aspect-ratio: 71/46;
        }

        &__grid {
            &__desc {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
}