.card{
    width: 100%;
    cursor: pointer;

    &__title{
        font-family: 'Old Standard TT';
        font-weight: 700;
        font-size: 56px;
        line-height: 54px;
        margin-bottom: 25px;
        transition: all 0.3s;

        &:hover{
            color: rgba(0, 26, 255, 1);
        }
    }

    &__infoblock{
        display: flex;
        gap: 24px;
        align-items: flex-start;

        &  h3{
            font-weight: 400!important;
            &:hover{
                color: var(--text-color);
            }
        }
    }

    &__image{
        position: relative;
        min-width: 50%;
        max-width: 50%;
        width: 100%;
        min-height: 196px;
        height: auto;
        aspect-ratio: 84/49;
    }
}

.column{
    .card__infoblock{
        flex-direction: column;
    }
    .card__image{
        max-width: 100%;
        aspect-ratio: 54/25;
    }
}