.navigation {
    display: flex;
    align-items: center;

    @media only screen and (max-width:500px) {
        padding: 0 20px;
    }

    &__icon {
        width: 32px;
        height: 32px;
        position: relative;
        margin-right: 5px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-right: 21px;

        &__title {
            font-weight: 600;
            font-size: 15px;
            line-height: 14px;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__link {
        padding: 4px 10px;
        background: rgba(243, 80, 52, 0.1);
        border: 1px solid var(--red-color);
        border-radius: 90px;
        font-weight: 700;
        font-size: 11px;
        line-height: 15px;
        color: var(--red-color);
    }
}