.layout__main{
    flex-grow: 1;

    &__aside{
        max-width: 686px;
        width: 100%;
        position: sticky;
        top: 0;
    }

    &__content{
        max-width: 821px;
        width: 100%;
        padding: 0 35px;
        flex-grow: 1;

        &__nav{
            display: none;
        }
    }
}

@media screen and (max-width: 1100px) {
    .layout__main{
        &__content{
            max-width: 612px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .layout__main{
        &__content{
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .layout__main{
        &__content{
            padding-right: 0;
            max-width: 100%;
            width: 100%;
            &__nav{
                display: flex;
            }
        }
        &__aside{
            display: none;
            width: 0;
        }
    }
}