
.btn{
    border: none;
    background: white;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 5px;
    font-family: 'Noto Sans';
    font-weight: 500 !important;
    font-size: 13px;
    line-height: 18px;
    color: black;
}