
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 44px;

    &__group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px 48px;

        & > * {
            max-width: calc((100% - 48px) / 2);
        }
    }
}

@media screen and (max-width: 550px) {
    .wrapper{
        background-color: white;
        flex-direction: column-reverse;
        gap: 25px;

        &__group{
            flex-direction: column;
            gap: 0;

            & > * {
                max-width: 100%;
            }
        }
    }
}