.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 23px 48px;

    &>* {
        max-width: calc((100% - 48px) / 2);
        flex-direction: column-reverse;
        & > div:first-child{
            max-width: 100%;
            aspect-ratio: 24/13;
            height: auto;
        }
    }
}

@media screen and (max-width: 550px) {
    .wrapper{
        flex-direction: column;
        gap: 0;
        
        & > *{
            max-width: 100%;
            flex-direction: row;

            & > div:first-child{
                max-width: 120px;
                height: 90px;
            }
        }
    }
}