.main {
    &__wrapper{
        margin: 30px 0;
    }
    &__title {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 54px;
        margin-bottom: 30px;
    }

    &__time{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        & > span{
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 647/400;
        position: relative;
        margin-bottom: 40px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 34px;
        font-family: 'Noto Sans';
    }

    &__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 65px;
        font-family: 'Noto Sans Normal';
    }

    &__time {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }

    &__banner{
        margin-bottom: 69px;
    }

    &__cards{
        margin-bottom: 129px;
    }

    &__recomended{
        margin-bottom: 77px;

        &__text{
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 32px;
        }
    }
}