.main {
    &__wrapper{
        margin: 30px 0;
    }
    &__title {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    &__info{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        & *{
            font-family: 'Noto Sans Normal';
            font-weight: 800;
            font-size: 11px;
            line-height: 15px;
        }

        &__time{
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    &__shortDesc{
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    &__image {
        width: 100%;
        aspect-ratio: 647/400;
        position: relative;
        margin: 35px 0;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 40px;
        font-family: 'Noto Sans Normal';
    }

    &__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        margin-bottom: 65px;
        font-family: 'Noto Sans Normal';
    }

    &__time {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
    }

    &__banner{
        margin-bottom: 69px;
    }

    &__cards{
        margin-bottom: 129px;
    }

    &__recomended{
        margin-bottom: 77px;

        &__text{
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 32px;
        }
    }
}

@media screen and (max-width: 550px) {
    .main{
        &__title{
            font-size: 36px;
            line-height: 42px;
        }

        &__shortDesc{
            font-size: 18px;
            line-height: 26px;
        }
    }
}