.group{
    width: 100%;

    &__items{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        row-gap: 25px;
        column-gap: 64px;

        & > *{
            max-width: calc((100% - 64px)/2);
        }
    }
}