.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    
    &__ads{
        max-width: 100%;
        height: 120px;
        position: relative;
    }
}

.wrapcard{
    @media screen and (max-width: 550px) {
        &:first-child{
            & > div > div:nth-child(1) > div > div:nth-child(2){
                display: none;
            }
    
            & > div > div> div h3{
                font-family: 'Merriweather';
                font-weight: 700;
                font-size: 22px;
                line-height: 25px;
            }
    
            & > div:first-child > div:first-child{
                display: flex;
                flex-direction: column-reverse;
                gap: 25px;
    
                & h2{
                    margin-bottom: 0;
                }
            }
        }
    }
}

.grey {
    background-color: #eee;

    & * {
        background: #eee;
    }

    & > div div{
        border-color: white;
    }
}

@media screen and (max-width: 550px) {
    .wrapper {
        padding-bottom: 34px;
    }
}