.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grey {
    background-color: #eee;

    & * {
        background: #eee;
    }

    & > div div{
        border-color: white;
    }
}

@media screen and (max-width: 550px) {
    .wrapper {
        position: relative;
        padding: 34px 10px;
        max-width: calc(100% + 40px) !important;
        left: -20px;
    }

    .wrapper:first-child{
        padding-top: 20px;

        & > div > div:nth-child(1) > div > div:nth-child(2){
            display: none;
        }

        & > div > div> div h3{
            font-family: 'Old Standard TT';
            font-weight: 700;
            font-size: 22px;
            line-height: 25px;
        }

        & > div:first-child > div:first-child{
            display: flex;
            flex-direction: column-reverse;
            gap: 25px;
        }
    }
}

@media screen and (max-width: 470px) {
    .wrapper {
        position: relative;
        padding: 34px 10px;
        max-width: calc(100% + 20px) !important;
        left: -10px;
    }
}