.aside{
    min-height: 100vh;
    width: 100%;
    padding: 20px 40px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-width: 0 4px 0 0;
    border-style: solid;
    -moz-border-image: url('/WaveLine.svg') 27 repeat;
    -webkit-border-image: url('/WaveLine.svg') 27 repeat;
    -o-border-image: url('/WaveLine.svg') 27 repeat;
    border-image: url('/WaveLine.svg') 27 fill repeat;

    &__city{
        margin-bottom: 27px;
    }

    &__logo{
        max-width: 195px;
        width: 100%;
        height: auto;
        aspect-ratio: 65/21;
        object-fit: cover;
        margin-bottom: 48px;
        position: relative;
    }

    &__links{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 13px;   
        flex-grow: 1;
        overflow-y: auto;
    }
}