.nav {
    position: relative;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        position: relative;
        width: 131px;
        aspect-ratio: 131/42;
    }

    &__lang, &__sidebar__btn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Noto Sans Normal';
    }

    &__sidebar {
        position: absolute;
        z-index: 10000;
        top: 72px;
        left: 0;
        transform: translate(calc(-100% - 20px), 0);
        background-color: #eee;
        width: calc(100% + 40px);
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        &__categories{
            max-height: calc(100vh - 184px);
            height: 100%;
            flex-grow: 1;
            overflow-y: auto;
            // background-color: white;
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;

            & > a{
                padding: 17px 17px 17px 42px;
                font-family: 'Merriweather';
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                // background-color: white;
            }
        }
    }

    &__langugewrap {
        position: absolute;
        top: 35px;
        right: 0;
        background: #FFFFFF;
        border-radius: 12px;
        padding: 25px 20px;
        padding-right: 57px;
        box-shadow: 1px 1px 5px 2px rgb(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        gap: 12px;

       & >  li {
            font-family: 'Noto Sans Normal' !important;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                color: #001AFF;

            }
        }
    }
}


.openSidebar{
    animation: left 0.5s ease;
    animation-fill-mode: forwards;
}

.closeSidebar{
    animation: right 0.5s ease;
    animation-fill-mode: forwards;
}

.open__modal {
    display: flex;
    z-index: 100000;
}

.open__icon{
    animation: rotateAnimation 0.7s ease;
    animation-fill-mode: forwards;
}

.active{
    color: #F3715B !important;
}

.icon{
    width: 33px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    & >span{
        display: flex;
        width: 33px;
        height: 2px;
        background-color: #000;
    }
}

@keyframes left {
    0%{
        transform: translate(calc(-100% - 20px), 0);
    } 100%{
        transform: translate(-20px, 0);
    }
}

@keyframes right {
    0%{
        transform: translate(-20px, 0);
    } 100%{
        transform: translate(calc(-100% - 20px), 0);
    }
}

@keyframes rotateAnimation {
    0%{
        transform: rotate(0);
    } 50%{
        transform: rotate(720deg);
    } 
    100% {
        transform: rotate(720deg);
    }
}


.open{
    & > span:first-child{
        animation: first 0.3s ease  forwards;

    }

    & > span:nth-child(2){
        animation: second 0.3s ease  forwards;
    }
}

@keyframes first {
    0%{
        transform: rotate(0);
    } 100% {
        position: absolute;
        transform: rotate(45deg);
    }
}

@keyframes second {
    0%{
        transform: rotate(0);
    } 
    50%{
        transform: rotate(90deg);
    }
    100% {
        position: absolute;
        transform: rotate(135deg);
    }
}

.close{
    & > span:first-child{
        animation: firstClose 0.3s ease  forwards;

    }

    & > span:nth-child(2){
        animation: secondClose 0.3s ease  forwards;
    }
}

@keyframes firstClose {
    0%{
        position: absolute;
        transform: rotate(45deg);
    } 100% {
        transform: rotate(0);
        position: relative;
    }
}

@keyframes secondClose {
    0%{
        position: absolute;
        transform: rotate(135deg);
    } 
    50%{
        transform: rotate(90deg);
    }
    100% {
        position: relative;
        transform: rotate(0);
    }
}

.close__icon{
    animation: rotateAnimationRevers 0.7s ease;
    animation-fill-mode: forwards;
}

@keyframes rotateAnimationRevers {
    0%{
        transform: rotate(720deg);
    } 
    100% {
        transform: rotate(0);
    }
}

@media screen and (max-width: 475px) {
    .nav{
        &__sidebar{
            transform: translate(calc(-100% - 10px), 0);
            width: calc(100% + 30px);
        }
    }
}