.footer{
    width: 100%;
    padding: 27px 0;
    background: var(--text-color);
    & * {
        font-family: 'Noto Sans Normal';
    }
    
    &__container{
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
        padding: 0 40px;
    }

    &__text{
        color: var(--white-color);
        font-size: 13px;
        line-height: 18px;
    }

    &__developed{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 13px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.4);

        & > a {
            font-family: 'Outfit' !important;
            font-weight: 800;
            font-size: 17px;
            line-height: 21px;
            color: var(--white-color);
        }
    }

    &__link{
        font-size: 13px;
        line-height: 18px;
        color: var(--white-color);
    }
}