.card {
  max-width: 450px !important;
  border: 1px solid #E2E2E2;
  cursor: pointer;
  width: 100% !important;
  margin: 0 20px;
}

.card__image {
  width: 100%;
  aspect-ratio: 31/17;
  position: relative;
}

.card__block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__block > div {
  flex-direction: column-reverse;
}

.card__title {
  font-family: 'Old Standard TT';
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 25px;
  transition: all 0.3s;
}

.card__title:hover {
  color: #001aff;
}
