
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 48px;

        & > * {
            max-width: calc((100% - 48px) / 2);
        }
    }
}