
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 48px;

        & > * {
            max-width: calc((100% - 48px) / 2);
        }
    }
}

@media screen and (max-width: 550px) {
    .wrapper{
        gap: 25px;

        &__group:first-child{
            width: auto;
            overflow-x: auto;
            flex-wrap: nowrap;
            gap: 12px;
            scroll-snap-type: x mandatory;

            & > * {
                min-width: 90% !important;
                width: 100%;
                scroll-snap-align: start;
            }

            & > div, & > div *{
                background: white !important;
            }
        }

        &__group:nth-child(3){
            flex-direction: column;
            gap: 0;

            & > * {
                max-width: 100%;
            }
        }
    }
}