.wrapper {
    max-width: 1020px;
    width: 100%;
    max-height: 692px;
    position: relative;
    filter: drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.12));
    left: -25%;
    transition: all 0.3s;
}

.centerAnimate{
    left: 0;
}

@media screen and (max-width: 1260px) {
    .wrapper *:not(button):not(input) {
        max-height: 692px !important;
        padding-bottom: 0 !important;
    }

    .wrapper .stf__item {
        position: relative !important;
    }
}

@media screen and (max-width: 541px) {
    .wrapper div {
        max-width: 100% !important;
        width: 100% !important;
        min-width: 0!important;
    }
}