.rate{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0;

    &__title{
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .rate{
        position: relative;
        left: -21px;
        width: calc(100% + 40px);
        background-color: #eee;
        padding: 21px 20px;
    }
}

@media screen and (max-width: 670px) {
    .rate{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 475px) {
    .rate{
        position: relative;
        left: -10px;
        width: calc(100% + 20px);
    }
}