.rate {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0;

    @media only screen and (max-width:500px) {
        background: #EEEEEE;
        padding: 20px 20px;
        width: 100vw;
        max-width: 500px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }


    &__title {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 25px;

        @media only screen and (max-width:500px) {
            min-width: 430px;
        }
    }
}

.tashkent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
    width: 100%;
    max-width: 500px;
}