.aside{
    width: 100%;
    max-height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    padding-bottom: 15px;

    &::-webkit-scrollbar{
        width: 0;
    }

    &__ads{
        margin-top: 40px;
        max-width: 325px;
        aspect-ratio: 340/453;
        position: relative;
    }
}