.banner {
    max-width: 1230px;
    width: 100%;
    padding-bottom: 36px;
    overflow: hidden;


    &__block {
        padding: 62px 40px;
        flex-direction: column;
        gap: 35px;
    }

    &__title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 18px;
        color: #0B212B;
    }

    &__text {
        width: 100%;
        max-width: 240px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #0B212B;
        margin-top: 9px;
        margin-bottom: 35px;
    }

    &__image {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        width: 240px;
        height: auto;
        aspect-ratio: 268/347;
        object-fit: cover;
    }

    &__footer {
        position: relative;
        z-index: 2;
        padding-left: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}