.banner {
    max-width: 1230px;
    width: 100%;
    padding-bottom: 36px;
    overflow: hidden;


    &__block {
        padding: 62px 40px;
        flex-direction: column;
        gap: 35px;



        @media only screen and (max-width:500px) {
            text-align: center;
            padding: 53px 29px;
        }
    }

    &__title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 18px;
        color: #0B212B;
    }

    &__text {
        width: 100%;
        max-width: 240px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #0B212B;
        margin-top: 9px;
        margin-bottom: 35px;

        @media only screen and (max-width:500px) {
            max-width: 290px;
            margin: 33px auto;
            margin-top: 15px;
        }
    }

    &__image {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        width: 240px;
        height: auto;
        aspect-ratio: 268/347;
        object-fit: cover;
    }

    &__image2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__footer {
        position: relative;
        z-index: 2;
        padding: 0 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width:500px) {
            flex-direction: column;
        }
    }


    &__contacttetx {
        margin-top: 21px;

        &:first-child {
            text-align: center;
            width: 100%;
        }

        &:nth-child(2) {
            margin-left: auto;
        }

        &:last-child {
            margin-right: auto;
        }
    }

}