.banner{
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    width: 100%;
    padding-bottom: 36px;
    overflow: hidden;
    margin-top: 50px;

    &__block{
        padding: 62px 40px;
        flex-direction: column;
        gap: 35px;
    }

    &__info{
        max-width: 240px;
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-bottom: 35px;

        & * {
            font-family: 'Noto Sans Normal';
        }

        &__title{
            font-weight: 500;
            font-size: 22px;
            line-height: 18px;
        }

        &__desc{
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__text{
        max-width: 297px;
        margin: 0;
        margin-top: 35px;
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
    }

    &__image{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        width: 240px;
        height: auto;
        aspect-ratio: 268/347;
        object-fit: cover;
    }

    &__footer{
        max-width: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        padding-left: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__link{
        display: flex;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Noto Sans Normal';
        cursor: pointer;
    }

    &__categories{
        max-width: 800px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 30px;
    }
}

@media screen and (max-width: 1320px){
    .banner__footer{
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 625px) {
    .banner{
        margin-top: 50px;
        & > div{
            flex-direction: column !important;
        }

        &__block{
            padding: 10px 17px;
            align-items: center;

            & > div:nth-child(2){
                max-width: 100%;
                width: 100%;
                display: flex;
                gap: 5px;
                justify-content: center;
            }
        }

        &__info{
            max-width: 100%;
            margin-bottom: 33px;
            align-items: center;
        }

        & > div:first-child > div:nth-child(2){
                min-height: 270px;
                width: 190px;
                margin: 0 auto;
        }

        &__footer{
            padding: 0;
            & > div:nth-child(2){
                width: 100%;
                justify-content: center;
            }
        }

        &__categories{
            justify-content: center;
        }

        
    }
}