.btn{
    padding: 11px 18px;
    display: flex;
    align-items: center;
    gap: 1px;
    background: #E7E9EA;
    border-radius: 21px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    border: none;
}