.cards__wrapper {
    margin: 17px 0;
    max-width: 416px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: blue;

    &:first-child {
        margin-top: 20px;
    }
}