.Contact {
    margin-top: 24px;

    @media only screen and (max-width:500px) {
        padding: 0 20px;
    }

    &__title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;

        color: #0B212B;
    }

    &__text {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #0B212B;
        margin-top: 10px;
        margin-bottom: 36px;
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 9px;

    }

    &__box {
        width: 100%;
        max-width: 230px;
        margin-bottom: 21px;

        &__text {

            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;

            color: #0B212B;

            opacity: 0.6;
            margin-bottom: 8px;
        }

        &__text2 {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #0B212B;
            width: 225px;

            span {
                margin-right: 13px;
            }
        }
    }
}