
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 44px;

    &__group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px 48px;

        & > * {
            max-width: calc((100% - 48px) / 2);
            width: 100%;
        }
    }
}