.journal {
    max-width: 1225px;
    width: 100%;
    padding: 0 40px;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 38px;
        align-items: flex-start;
        padding: 40px 0;
    }

    &__title {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        padding-left: 20px;
    }

    &__info{
        max-width: 1020px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 16px;

        &__page{
            min-width: 25px;
            font-size: 12px;
            line-height: 20px;
            font-family: 'Inter';
        }

        &__wrapper{
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            & > div:first-child{
                display: flex;
                flex-direction: row;
            }
            
            & > div{
                display: flex;
                flex-direction: column;
                gap: 13px;
                max-width: 569px;
            }
        }

        &__title{
            font-family: 'Inter';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }

        &__desc{
            font-size: 12px;
            line-height: 17px;
            opacity: 0.6;
            font-family: "Noto Sans Normal";
        }
    }
}

@media screen and (max-width: 1000px) {
    .journal{
        &__nav{
            & > nav{
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .journal{
        &__nav{
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        &__content{
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 942px) {
    .journal{
        &__info{
            justify-content: center;

            &__wrapper{
                flex-direction: column;
                gap: 20px;

                & > button{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .journal{
        padding: 0;
        &__nav{
            flex-direction: row;
            align-items: center;
        }
    }
}