.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .card {
    width: 100%;
    max-width: 500px !important;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
  }
}

.card__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .card__info {
    opacity: .7;
  }
}

.card__info > * {
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
}

@media only screen and (max-width: 500px) {
  .card__info > * {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
  }
}

.card__info__time {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__info__time > svg {
  transform: translateY(1px);
}

.card__title {
  max-width: 512px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.3s;
}

.card__title:hover {
  color: #001aff;
}

@media only screen and (max-width: 500px) {
  .card__title {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
  }
}

.card__desc {
  max-width: 512px;
  font-size: 13px;
  line-height: 17px;
}
