.card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 7px;
    cursor: pointer;
    
    &__flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__img{
        margin-bottom: 1px;
        position: relative;
        max-width: 120px;
        width: 100%;
        height: 90px;
        flex-shrink: 0;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 10px;

        &>* {
            font-weight: 800;
            font-size: 11px;
            line-height: 15px;
        }

        &__time {
            display: flex;
            align-items: center;
            gap: 4px;

            &>svg {
                transform: translateY(1px);
            }
        }
    }

    &__title {
        max-width: 512px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        transition: all 0.3s;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: attr(title-line number);
        line-clamp: attr(title-line number);
        -webkit-box-orient: vertical;

        &:hover {
            color: rgba(0, 26, 255, 1);
        }
    }

    &__desc {
        max-width: 512px;
        font-size: 13px;
        line-height: 19px;
    }
}

@media screen and (max-width: 550px) {
    .card {
        padding: 15px 0;
        border-top: 1px solid #EEEEEE;

        &__title{
            font-size: 17px !important;
            line-height: 20px !important;
        }

        &:last-child {
            border-bottom: 1px solid #EEEEEE;
        }
    }
}