.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    
    &__info{
        display: flex;
        align-items: center;
        gap: 10px;
        
        & > *{
            font-weight: 800;
            font-size: 11px;
            line-height: 15px;
        }

        &__time{
            display: flex;
            align-items: center;
            gap: 4px;

            & >svg{
                transform: translateY(1px);
            }
        }
    }

    &__title{
        max-width: 512px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    &__desc{
        max-width: 512px;
        font-size: 13px;
        line-height: 17px;
    }
}