.player {
    max-width: 535px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    &__button {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: none;
        background: var(--light-text-color);
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg{
            width: 13px;
            height: 13px;
            transform: translateX(2px);
        }
    }

    &__info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 5px;
    }

    &__duration {
        display: flex;
        gap: 5px;

        &>span {
            font-size: 11px;
            line-height: 15px;
        }
    }

    &__progress {
        width: 100%;
        overflow: hidden;
        border-radius: 2px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &::-webkit-slider-runnable-track {
            overflow: hidden;
            -webkit-appearance: none;
            background-color: rgba(11, 33, 43, 0.1);
            height: 4px;
            border-radius: 2px;
        }

        &::-webkit-slider-thumb {
            background: transparent;
            border: none;
            border-radius: 0;
            cursor: pointer;
            width: 4px;
            height: 4px;
            -webkit-appearance: none;
        }
    }
}